<%= form_for(@product) do |pro| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= pro.label :posting_title, "posting title" %>:<br/>
  <%= pro.text_field :posting_title %><br/>
<br/>
  <%= pro.label :price, "price" %>:<br/>
  $<%= pro.text_field :price %><br/>
<br/>
  <%= pro.label :specific_location, "specific location" %>:<br/>
  <%= pro.text_field :specific_location %><br/>
<br/>
  <%= pro.label :postal_code, "postal code" %>:<br/>
  <%= pro.text_field :postal_code %><br>
<br/>
  <%= pro.label :posting_description, "posting description" %>:<br/>
  <%= pro.text_area :posting_description, :rows => 12, :cols => 105 %><br>
<br/>

  <div class="actions">
    <%= pro.submit %>
  </div>
<% end %>
